<nav>
    <ul class="menu crumbs">
        <li>
            <a href="/">главная</a>
        </li>
        <li>
            <span>></span>
        </li>
        <li>
            <a href="/production.html">творения</a>
        </li>
        <li>
            <span>></span>
        </li>
        <li>
            <label class="active"><%-title -%></label>
        </li>
    </ul>
    <%-partial('../common/network')%>
</nav>