<header>
    <div class="header">
        <h2>Художественная ковка</h2>
        <strong>официальный сайт компании "Художественная ковка"</strong>
    </div>
    <% if (block === 'home') { %>
    <div class="logo"><img src="/img/logo.png" alt="logo"></div>
    <% } else { %>
    <a class="logo" href="/"><img src="/img/logo.png" alt="logo"></a>
    <% } %>
    <div class="address">
        <b>Наш адрес:</b><br />
        <address><a href="/contacts.html" title="Посмотреть на карте">г. Новосибирск, ул. Богдана Хмельницкого, 84к5</a></address><br />
        <b>телефон:</b> <a href="tel:+79994504297">+7 (999) 450-42-97</a><br />
        <b>e-mail:</b> <a href="mailto:hudkovka54@yandex.ru" title="Наша почта">hudkovka54@yandex.ru</a>
    </div>
</header>